

/* takım sayfası css kodları */
.header{
    background:url(hero.jpg) ;
    width: 100%;
    
}
.header_content ul li{
    padding-left: 2rem;
}
.navbar-nav li a{
    padding-left: 10rem;
}
.search{
     color: rgb(136, 10, 10);
}

form input{
    border: none;
    border-bottom:2px solid gray;
    padding: 1rem;
    outline: none;
    width: 100%;
}
select{
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
}
.button{
    display: flex;
    justify-content: center;
    
}

.button button{
    border: none;
    background: #f3f3f3;
    border-bottom: 0.5px solid grey;
    transition-duration: 0.3s;
    margin-top: 1rem;
    padding: 10px;
}

.button button:hover{
    color: white;
    background-color: rgb(136, 10, 10);
}

img{
    max-width: 100%;
}

/* iletişim css kodları */
.button_iletisim button {
    border: none;
    border-bottom: 0.5px solid gray;
    margin-top: 1rem;
    transition-duration: 0.3s;
    padding: 10px;

}

.button_iletisim button:hover{
    color: white;
    background-color: black;
}
.input_iletisim{
    
    width: 100%;
    margin-top: 1rem;
    padding: 10px;

}
.input_iletisim input{
    border:none;
    border-bottom:0.5px solid gray ;
}

/* blog css kodları */
section ul li{
    list-style: none;
    padding: 5px;
}
section ul li :hover{
    color: rgb(136, 10, 10);
    
}
h5{
    color: rgb(136, 10, 10);
    padding-top: 10px;
    text-align: start;
    border-bottom: rgb(136, 10, 10) solid 1px;
}
.arsiv{
    text-align: start;
}
.blog{
    display: flex;
    justify-content: center;
    border: none;
    width: 100%;
    background-color: #fffdfd;
    color: rgb(136, 10, 10);
    padding-top: 1rem;
}

/* hizmetlerimiz sayfası css kodları */
.header-hizmetler ul li{
    font-size: large;
    padding-bottom: 20px;
}
.header-hizmetler ul li :hover{
    color: rgb(136, 10, 10); 
    font-size: larger;
}

/* hizmet noktalarımız css kodları */
.header-hizmetnoktalari p{
    align-items: center;
    height: 400px;
    
}

.button-hn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.button-hn button{
    border: none;
    background-color: #fffdfd;
    color: rgb(136, 10, 10);
    padding-bottom:  1rem;
}

.hn-yol{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.carousel-inner img{
    margin: auto;
    width: 100%;
    height: 400px;
}

.header-anasayfa{
    display: block;
    justify-content: center;
}

.header-anasayfa img{
    margin: auto;
    width: 100%;
    height: 400px;
}


.header-footer{
    background-color: rgb(0, 0, 36);
    width: 100%;
}

.header-footer ul li{
    color: #f3f3f3;
    list-style: none;
    padding: 6px;

}
.header-footer ul{
    padding-top: 1rem ;
    text-align: center;
    color: #f3f3f3;
    
}
 .anasayfa_img{
    display: flex;
    padding: 1rem ;
    justify-content: center;
    padding-left: 10rem;
 }

 .header-section a{

    padding-top: 3rem;
    padding: 50px;
    color: rgb(136, 10, 10);
    text-decoration: none;

 }

 .header-section p{
    display: flex;
    padding: 1rem;
 }

 .header-hakkimizda button{
    border: none;
    background-color: black;
    color: white;
    padding: 3rem;
 }

 .header-hnk ul{
    text-align: center;
    margin: auto;
 }
 .header-hnk button{
    border: none;
    padding-top: 2rem;
    background-color: #ffffff;
 }
